.card {
  background: var(--white);
  padding: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__header {
  }
  &__title {
  }
  &__description {
  }
  &__content {
  }
}
