.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.entity-header {
  height: 64px;
  padding: 0px 16px;
  display: flex;
  align-items: center;
}

.entity-content {
  flex: 1 1 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
