:root {
  --white: #ffffff;

  --sp-color-900: #e3e5e8;
  --sp-color-600: #8f96a3;
  --sp-color-400: #5c6370;
  --sp-color-100: #17191c;

  background-color: var(--sp-color-900);
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: normal;
  color: var;
}

h2 {
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: normal;
}

#root {
  height: 100%;
}
